// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  display: flex;
  align-items: center;
  margin: 0;

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    margin-left: 10rem;
  }
  
  .green {
    background-color: green;
  }

  .red {
    background-color: red;
  }
}